{% extends "core/base.html" %}
{% block title %}Contacto{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg'%}{% endblock %}
{% block headers %}
<h1>Santoni Alejandro</h1>
<span class="subheading">Programador Junior</span>
{% endblock %}
{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
    <p>A continuacion dejo mi contacto</p>
    <br>
    <p><b>Teléfono:</b> 351-6807765</p>
    <p><b>Honorarios:</b> 5000 $/h (precio base)</p>
  </div>
{% endblock %}