{% extends "core/base.html" %}
{% block title %}Portada{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg'%}{% endblock %}

{% block headers %}
<h1>Santoni Alejandro</h1>
<span class="subheading">Programador Junior</span>
{% endblock %}
{% block content %}
<p>
    ¡Hola! Soy Alejandro, y este es mi espacio personal en la web. Aquí encontrarás información sobre mí, mis proyectos, y tal vez algunas reflexiones sobre mi trayectoria como programador y otros intereses. ¡Gracias por visitar!
</p>
{% endblock %}  