{% extends "core/base.html" %}

{% load static %}

{% block content %}

<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %} " alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar italiana</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Fundada en 1987 en el corazón de una pequeña ciudad italiana, nació la idea de "L'AUTENTICO CAFFÈ D'ITALIA: LA CAFFETTIERA", una cafetería que se convertiría en un faro de autenticidad y pasión por el café. La historia comienza con Giulia Moretti, una apasionada amante del café y nativa de la región, quien soñaba con compartir la riqueza de la tradición cafetera italiana con su comunidad.

              Giulia provenía de una familia con profundas raíces en la industria del café. Su abuelo, un tostador de café artesanal, le transmitió el amor por la calidad y la atención al detalle en cada taza. Inspirada por estas lecciones y su deseo de preservar la esencia del café italiano, Giulia decidió embarcarse en la creación de su propia cafetería.
              
              Con determinación y dedicación, Giulia buscó el lugar perfecto para dar vida a su visión. Descubrió un edificio antiguo con encanto, con una arquitectura que resonaba con la historia de la ciudad. Convencida de que este sería el escenario ideal para su cafetería, comenzó las renovaciones con la ayuda de artesanos locales que compartían su visión.
              
              El nombre "L'AUTENTICO CAFFÈ D'ITALIA: LA CAFFETTIERA" fue cuidadosamente elegido para reflejar la autenticidad y la dedicación a las raíces italianas del establecimiento. Cada detalle, desde el diseño interior hasta la selección de granos de café, se planificó meticulosamente para recrear la experiencia de disfrutar de una taza de café en una auténtica cafetería italiana.
              
              Giulia se rodeó de un equipo de baristas apasionados y chefs talentosos que compartían su compromiso con la excelencia. Juntos, exploraron y perfeccionaron recetas, crearon combinaciones únicas de café y diseñaron un menú que celebraba los sabores tradicionales de Italia.
              
              Finalmente, en una cálida mañana de primavera, las puertas de "L'AUTENTICO CAFFÈ D'ITALIA: LA CAFFETTIERA" se abrieron al público. Desde ese momento, la cafetería se convirtió en un refugio para amantes del café y aquellos que buscaban una experiencia genuina. El aroma de granos recién molidos y la hospitalidad italiana llenaron el aire, y la cafetería rápidamente se ganó un lugar especial en el corazón de la comunidad.
              
              La historia de "L'AUTENTICO CAFFÈ D'ITALIA: LA CAFFETTIERA" es la historia de una visión, de la pasión convertida en realidad. Es un tributo a la rica tradición del café italiano y a la creencia de que una taza de café puede ser más que una simple bebida: puede ser una experiencia que une a las personas y celebra la vida.
            </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

                    

  {% endblock %}


